version: "3.3"
services:

  postgres_db:
    image: postgis/postgis:latest
    container_name: postgres_db
    restart: always
    ports:
      - "3001:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=bppd_db
    volumes:
      - postgres-data:/var/lib/postgresql/data

  geoserver:
    image: docker.osgeo.org/geoserver:2.24.1
    container_name: geoserver
    restart: always
    ports:
      - "3002:8080"
    environment:
      - CORS_ENABLED=true
      - CORS_ALLOWED_ORIGINS=*
      - CORS_ALLOWED_HEADERS=*
      - CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE
      - INSTALL_EXTENSIONS=true
      - STABLE_EXTENSIONS=vectortiles
      # - GEOSERVER_LOG_DIR=${GEOSERVER_LOG_DIR}
      # - GEOSERVER_DATA_DIR=${GEOSERVER_DATA_DIR}
      # - GEOWEBCACHE_CONFIG_DIR=${GEOWEBCACHE_CONFIG_DIR}
      # - GEOWEBCACHE_CACHE_DIR=${GEOWEBCACHE_CACHE_DIR}
      # - NETCDF_DATA_DIR=${NETCDF_DATA_DIR}
      # - GRIB_CACHE_DIR=${GRIB_CACHE_DIR}=value
    volumes:
      - ./geodatadir:/var/geoserver/datadir
      - ./geo_settings:/settings
      - ./geoserver_data:/opt/geoserver_data/

  # backend:
  #   build: ./backend
  #   depends_on:
  #     - postgres_db
  #     - geoserver
  #   container_name: backend
  #   volumes:
  #     - ./backend:/code
  #     # - ./backend/database/utilities/ai_model:/code/database/utilities/ai_model
  #     # - ./backend/alembic:/code/alembic
  #     # - ./backend/alembic.ini:/code/alembic.ini
  #   ports:
  #     - 3000:8000
  #   environment:
  #     - GEOSERVER_URL=http://geoserver:8080/geoserver
  #     - GEOSERVER_USERNAME=admin
  #     - GEOSERVER_PASSWORD=geoserver
  #     - POSTGRES_URL=jdbc:postgresql://postgres_db:5432/bppd_db
  #     - POSTGRES_USERNAME=postgres
  #     - POSTGRES_PASSWORD=admin

  # ada-t-frontend:
  #   build: ./frontend/narrator
  #   container_name: ada-t-frontend
  #   volumes:
  #     - ./frontend/narrator:/app
  #   ports:
  #     - 8202:3000
  #   links:
  #     - ada-t-backend

volumes:
  postgres-data:
