@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.map-container{
  height: 80vh;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.mini-map-container{
  height: 40vh;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.map-container .map{
  height: 100%;
  width: 100%;
}

.mini-map-container .map{
  height: 100%;
  width: 100%;
}

.home-bg{
  background-image: url(/bee_pattern.svg);
  background-repeat: repeat;
  background-size: 200px auto;
  background-color: rgba(255, 239, 147, 0.5);
  min-height: 90vh;
}

.b-text{
  padding: 1em;
  width: fit-content;
  text-transform: uppercase;
  color: black;
  z-index: 11!important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  font-size: 2vw;
}

.bannerOverlay{
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10!important;
}

.home-banner{
  height: 31vh;
  overflow-y: hidden;
  width: 100%;
  background-image: url(/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  position: relative
}

.d-none{
  display: none!important;
}

.table-container{
  overflow-x:scroll;
  max-width: 100vw!important;
}

.mdropdown{
  position: absolute;
  z-index:2000;
  border: 1px solid black;
  width: 70%;
}

.neoLoadingScreen{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.loadingScreen{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}